{% load i18n %}

{% if comments %}
<h3>{% trans "Comments" %}</h3>
{% for comment in comments %}
<div class="row {% if comment.state != 'published' %}disabled-content {% endif %}">
  <div class="span12">
    <h4>{% trans "Comment posted at" %} {{comment.created}} {% trans "by" %} {{comment.name}}</h4>
    {% if ha %}
    <a href="{{comment.get_absolute_url}}edit">{% trans "Edit/delete/publish this comment" %}</a>
    {% endif %}
  </div>
</div>
<div class="row {% if comment.state != 'published' %}disabled-content {% endif %}">
  <div class="span12">
    {{comment.body}}
    <hr>
  </div>
</div>
{% endfor %}
{% else %}
<h3>{% trans "No comments" %}</h3>
{% endif %}



<a name="commentform"><h3>{% trans "Post a comment" %}:</h3></a>
<form method="post" action="+post_comment/"
      class="form-horizontal" >

    {% csrf_token %}

    {% include "two.bootstrap/bootstrap-form.html" with fields=form.content_fields %}
    <div class="form-actions">
       <input class="btn primary" type="submit" value="{% trans "Send" %}">
    </div>

</form>
