{% if comments %}
<h3>Comments</h3>
{% for comment in comments %}
<div class="row {% if comment.state != 'published' %}disabled-content {% endif %}">
  <div class="span12">
    <h4>Comment posted at {{comment.created}} by {{comment.name}}</h4>
    {% if ha %}
    <a href="{{comment.get_absolute_url}}edit">Edit/delete/publish this comment</a>
    {% endif %}
  </div>
</div>
<div class="row {% if comment.state != 'published' %}disabled-content {% endif %}">
  <div class="span12">
    {{comment.body}}
    <hr>
  </div>
</div>
{% endfor %}
{% else %}
<h3>No comments</h3>
{% endif %}



<a name="commentform"><h3>Post a comment:</h3></a>
<form method="post" action="+post_comment/"
      class="form-horizontal" >

    {% csrf_token %}

    {% include "two.bootstrap/bootstrap-form.html" with fields=form.content_fields %}
    <div class="form-actions">
       <input class="btn primary" type="submit" value="Publish">
    </div>

</form>
